.orders {
    padding: 5% 0 5% 0;
    margin: 2% 10% 2% 10%;
}

.orders h1{
    color: darkgreen;
}
.wrapper {
    display: flex;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: black;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
     text-align: center; 
    line-height: 44px;
     background:  darkgreen; 
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
    font-weight: bolder;
}
.wrapper i:first-child {
    left: -12px;
    display: none;
}
.wrapper i:last-child {
    right: -22px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 60%;
    object-fit: contain;
    user-select: none;
    margin-left: 14px;
    width: calc(90% / 3);
    
}
.carousel img:first-child {
    margin-left: 0px;
}

.orders{
    text-align: center;
    font-size: 60px;
}

 
   @media (min-width: 768px) {
    .carousel img {
      height: 350px;
      width: calc(100% / 3);
    }
  } 
  




